// Variables

//$primary: #42DCA3;

$primary: #f4f8ff;
$sansFont: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
$cursiveFont: 'Arizonia', cursive;

$myBlue: #cee0ff;
$myOrange: #ffb31c ;
$myRed: #e80909 ;
$myDarkBlue: #030026 ;
$myDarkRed: #930505 ;
$myDarkestGrey: #252525 ;
$myDarkGrey: #545454 ;
$myLightGrey: #d1d1d1;
$myLightestGrey: #fefefe;
